
{{#if welcome}}
{{#data}}
<div class="tile">
    <a href="/project/{{directory}}">
        <div>
            <img class="img" src="{{directory}}/screenshot.jpg" />
        </div>
        <div class="caption">
            {{title}}
        </div>
    </a>
</div>
{{/data}}

{{else}}
{{#data}}

{{#if (activeLink directory)}}
<div class="navbar-item" style="background-color: blue;">
{{else}}
<div class="navbar-item">
    {{/if}}

    <a href="/project/{{directory}}">
        <p class="link-menu">{{title}}</p>
    </a>
</div>

{{/data}}

{{/if}}

